
  .main{
    margin-top: 150px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search{
    display: flex;
    text-align: center;
    height: 40%;
    width: 40%; 
    
    
  }
  .search_artist{
    width: 100%;
  }
  .search_button{
    background-image: url('../images/seach.png');
    background-size: cover;
    width: 70px;
    padding: 6px;
    margin-left: 10px;
  }

  .card_box{
    margin:0 auto;
    width: 70%;
  }
  .main_card_container{
    display: flex;
  }