.main-2{
  margin-top: 150px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
} .search-2{
  display: flex;
  text-align: center;
  height: 40%;
  width: 40%; 
}  .search_button-2{
  background-image: url('../images/seach.png');
  background-size: cover;
  width: 70px;
  padding: 6px;
  margin-left: 10px;
}
.card-img{
  width: 100px;
  
}